body{
    font: Georgia;
    padding: 0;
    margin: 0;
    top: 0;
}

header{
    text-align: center;
}

#profile_photo{
    width: 15%;
    border-radius: 100%;
}

h1{
    padding-top: 15px;
}

h2{
    font: Georgia;
    background-color: rgb(169, 188, 230);
    width: 100%;
    text-align: center;
    font-size: 25pt;
    padding: 10px 0;
    color: rgb(12, 12, 100);
}

footer{
    font: Georgia;
    position: relative;
    width: 100%;
    bottom: 0px;
    padding-bottom: 10px;
    text-align: center;
}

#background{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Background\ Image.jpg");
    opacity: 35%;
    position: fixed;
    top: 0px;
    z-index: -1;
}

p{
    text-align: center;
    font-size: 14pt;
}

p.emphasis{
    color:  rgb(88, 13, 13);
    font-size: 20pt;
    font-weight: bolder;
}

#youtube{
    text-align: center;
    padding-bottom: 20px;
}

a{
    color:black;
}

a:hover{
    color: blue;
}