body{
    font: 15px/1.5 Arial, sans-serif;
    padding: 10% 0;
    margin: 0;
    background-color: #FFFFFF;
}

header{
    text-align: center;
    margin-bottom: 15px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

main{
    text-align: center;
}

.password{
    background-color:lightgray;
    color: black;
    font-style: italic;
    border-color: transparent;
    border-radius: 32px;
    padding: 5px 10px;
    margin: 10px;
    width: 15%;
}

#submit{
    margin-top: 10px;
}